@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --primary-color: #6c5dd3;
  --alt-primary-color: #8171f1;
  --text-white: #ffffff;
  --text-muted: #a0a0ab;
  --bg-main: #13131a;
  --bg-container: #1c1c26;
  --bg-card: #2a2a36;
  --bg-modal: #252530;
  --total-color: #4facfe;
  --complete-color: #00f2fe;
  --pending-color: #fb923c;
  --task-complete-border: #2ecc71;
  --task-complete-bg: rgba(46 204 113 / 0.1);
  --task-not-complete: #e74c3c;
  --btn-delete: #e74c3c;
  --btn-edit: #f39c12;
  --btn-check: #2ecc71;
  --radus-main: 12px;
  --radius-modal: 20px;
  --spacing-box: 1.25rem;
  --border-subtle: #50505ec9;
  --transition-fast: 0.3s ease;
  --transition-bounce: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  --shadow-primary: 0 10px 20px rgba(108, 93, 0.25);
  --shadow-modal: 0 30px 60px rgba(0 0 0/0.5);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-main);
}
.todo-container {
  width: 97%;
  max-width: 992px;
  background-color: var(--bg-container);
  border-radius: var(--radus-main);
  padding: 1rem;
  margin: 1rem auto;
}
/*  */
.todo-container .stats {
  background-color: var(--bg-card);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radus-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.stats .stat-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.stats .stat-card:not(:last-child) {
  border-right: 1px solid var(--border-subtle);
}
.stat-card_icon {
  font-size: 20px;
}
.stat-card.total .stat-card_icon {
  color: var(--total-color);
}
.stat-card.complete .stat-card_icon {
  color: var(--complete-color);
}
.stat-card.pending .stat-card_icon {
  color: var(--pending-color);
}
.stat-card_value {
  color: var(--text-white);
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .stat-card_icon {
    font-size: 24px;
  }
  .stat-card_value {
    font-size: 26px;
  }
}
/*  */
.todo-container .open-modal-btn {
  background-color: var(--primary-color);
  color: var(--text-white);
  border-radius: var(--radus-main);
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-fast);
}
.todo-container .open-modal-btn:hover {
  background-color: var(--alt-primary-color);
}
.todo-container .open-modal-btn:active {
  transform: scale(0.98);
}
/*  */
.todo-container .task-list {
  margin: 1rem 0;
  border-top: 1px solid var(--border-subtle);
}
.task-list .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 3rem 0 0;
  color: var(--text-muted);
}
.empty i {
  font-size: 6rem;
}
.empty h2 {
  font-size: 1.6rem;
  font-weight: 600;
}
.empty p {
  width: 90%;
  color: #b9b9be;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2;
}
@media (min-width: 768px) {
  .empty i {
    font-size: 10rem;
  }
  .empty h2 {
    font-size: 2.2rem;
  }
  .empty p {
    font-size: 1.5rem;
  }
}
.task-list .task {
  background-color: var(--bg-card);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 4px solid var(--task-not-complete);
  transition: var(--transition-bounce);
}
.task-list .task:hover {
  transform: translateY(-5px);
}
.task-list .task.done {
  background-color: var(--task-complete-bg);
  border-left-color: var(--task-complete-border);
  opacity: 0.8;
}
.task .task-text {
  color: var(--text-white);
  font-size: 22px;
}
.task .task-text::first-letter {
  text-transform: capitalize;
}
.task.done .task-text {
  text-decoration: line-through;
  opacity: 0.5;
}
.task .task-tools {
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid var(--border-subtle);
  margin-top: 1.5rem;
  padding-bottom: 1rem;
}
.task-tools .task-btn {
  width: 22px;
  height: 22px;
  color: var(--text-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  cursor: pointer;
  transition: var(--transition-bounce);
}
.task-tools .task-btn:hover {
  transform: scale(1.1);
}
.task-tools .task-btn:active {
  transform: scale(0.98);
}
.task-tools .task-btn.delete {
  background-color: var(--btn-delete);
}
.task-tools .task-btn.edit {
  background-color: var(--btn-edit);
}
.task-tools .task-btn.check {
  background-color: var(--btn-check);
}
.task .task-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.task-details .task-date {
  color: var(--text-muted);
  font-size: 14px;
}
.task-details .task-toggle {
  background-color: #e74d3c5b;
  color: var(--task-not-complete);
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.task.done .task-toggle {
  background-color: #2ecc7060;
  color: var(--task-complete-border);
}
@media (min-width: 768px) {
  .task .task-text {
    font-size: 30px;
  }
  .task-details .task-date {
    font-size: 18px;
  }
}
/*  */
.modal {
  width: 95%;
  max-width: 500px;
  background-color: var(--bg-modal);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radus-main);
  padding: 1rem;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  visibility: hidden;
  z-index: 100;
  transition: var(--transition-fast);
}
.modal.show {
  transform: translateX(-50%) scale(1);
  visibility: visible;
}
.modal h1 {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 700;
}
.modal textarea {
  width: 100%;
  height: 160px;
  background-color: #2d2d3a;
  border: 1px solid var(--border-subtle);
  border-radius: var(--radus-main);
  padding: 1rem;
  margin: 1rem 0;
  font-size: 18px;
  color: var(--text-white);
  transition: var(--transition-fast);
}
.modal textarea:focus {
  outline: 2px solid var(--primary-color);
}
.modal textarea::placeholder {
  color: #a0a0ab;
  opacity: 1;
}
.modal .cta-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.cta-btn .modal-btn {
  flex: 1;
  border-radius: var(--radus-main);
  color: var(--text-white);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transform: var(--transition-fast);
}
.cta-btn .modal-btn:active {
  transform: scale(0.98);
}
.cta-btn .modal-btn.save {
  background-color: var(--primary-color);
}
.cta-btn .modal-btn.save:hover {
  background-color: var(--alt-primary-color);
}
.cta-btn .modal-btn.cancel {
  background-color: var(--btn-delete);
}
.cta-btn .modal-btn.cancel:hover {
  background-color: #e6594a;
}
